
<%= form_for [post, comment], remote: true,
  html: {
    class: "new_blog_comment bs-example", id: "new_blog_comment" } do |f| -%>

  <p><%=t :leave_a_comment, scope: 'blogit.comments'%></p>

  <%= field class: "hidden" do %>
    <%= f.label :nickname %>
    <%= f.text_field :nickname %>
    Hide me using CSS
  <% end %>

  <%= field class: "form-group" do %>
    <%= f.label :name, t(:name, scope: 'blogit.comments'), class: "control-label" %>
    <div class="col-lg-10">
      <%= f.text_field :name, class: "form-control" %>
    </div>
    <%= errors_on(comment, :name) %>
  <% end %>

  <%= field class: "form-group" do %>
    <%= f.label :email, t(:email_never_displayed, scope: 'blogit.comments'), class: "control-label" %>
    <div class="col-lg-10">
      <%= f.email_field :email, class: "form-control" %>
    </div>
    <%= errors_on(comment, :email) %>
  <% end %>

  <%= field class: "form-group" do %>
    <%= f.label :website, t(:your_website, scope: 'blogit.comments'), class: "control-label" %>
    <div class="col-lg-10">
      <%= f.url_field :website, class: "form-control" %>
    </div>
    <%= errors_on(comment, :website) %>
  <% end %>

  <%= field class: "form-group" do %>
    <%= f.label :body, t(:your_comment, scope: 'blogit.comments'), class: "control-label" %>
    <div class="col-lg-10">
      <%= f.text_area :body, class: "form-control" %><br>
    </div>
    <%= errors_on(comment, :body) %>
  <% end %>

  <%= field class: "form-group" do %>
  <div class="control-label"></div>
    <div class="col-lg-10">
      <%= actions do %>
        <%= f.submit t(:add_comment, scope: 'blogit.comments'), :disable_with => t(:adding_comment, scope: 'blogit.comments') %>
      <% end %>
    </div>
  <% end %>
<% end %>
